name: 'Dependency Submission'

on:
  push:
    branches:
    - 'main'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  dependency-submission:
    strategy:
      matrix:
        os:
        - 'ubuntu-latest'
        java:
        - '17'
    name: Submit Dependencies
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          github.com:443
          plugins-artifacts.gradle.org:443
          plugins.gradle.org:443
          repo.maven.apache.org:443

    - name: Git Checkout
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b
    - name: Setup Java ${{ matrix.java }}
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@750cdda3edd6d51b7fdfc069d2e2818cf3c44f4c
